<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style/navigation.css">
    <link rel="stylesheet" type="text/css" href="/style/detail.css">
    <link rel="stylesheet" type="text/css" href="/style/toggle.css">
    <title>Group Scheduler</title>
</head>
<body>
    <header class="nav">
        <div class="nav-title">
            Cada Schedule
        </div>
        <div class="nav-menu">
            <button type="button" class="menu-button" onclick="location.href='/'">Home</button>
            <button type="button" class="menu-button" onclick="location.href='/create'">Create</button>
        </div>
    </header>
    <section class="detail-wrapper">
        <div id="detail">
            <h1 class="comment">About this Schedule</h1>
            <div class="detailInfo-wrapper">
                <label for="name">Creator</label>
                <input type="text" class="textForm" name="name" value="<%= schedule.Creator %>" readonly>
            </div>
            <div class="detailInfo-wrapper">
                <label for="title">Title</label>
                <input type="text" class="textForm" name="title" value="<%= schedule.Title %>" readonly>
            </div>
            <div class="detailInfo-wrapper">
                <label for="periodStart">Start Period</label>
                <input type="date" class="textForm" name="periodStart" id="periodStart" readonly>
            </div>
            <div class="detailInfo-wrapper">
                <label for="periodEnd">End Period</label>
                <input type="date" class="textForm" name="periodEnd" id="periodEnd" readonly>
            </div>
            <div class="detailInfo-wrapper">
                <label for="comment">Comment</label>
                <textarea rows="5" class="textForm" name="comment" readonly><%= schedule.Comment %></textarea>
            </div>
            <div class="detailInfo-wrapper">
                <label for="image">Attachments</label>
                <div name="image">
                    <% let images = schedule.Image %>
                    <% for(let i=0; i<images.length; i++) { %>
                        <img src='/schedule/<%=images[i]%>' id="image">
                    <% } %>
                </div>
            </div>
        </div> 
        <div class="period-wrapper">
            <div class="period">
                <form method="POST" action="/detail" name="Form" onsubmit="return validateForm()">
                    <h1 class="comment">Write your schedule</h1>
                    <input type="text" class="textForm" name="name" placeholder="Name" autocomplete="off">
                    <input type="date" class="textForm" name="myStart" id="myStart">
                    <input type="date" class="textForm" name="myEnd" id="myEnd">
                    <div class="radio-wrapper">
                        <div class="radio-group">
                                <input type="radio" id="available" name="periodFlag" value="ok" checked><label for="available">Available Period</label><input type="radio" id="unavailable" name="periodFlag" value="no"><label for="unavailable">Unavailable Period</label>
                        </div>
                    </div>

                    <input type="text" name="scheduleId" style="display:none;" value="<%=scheduleId%>">
                    <div id="btn-wrapper">
                        <button id="create-submit">submit</button>
                        <button type="button" id="calendarBtn" onclick="window.location='/schedule/calendar/<%= schedule.id %>'">See Canlendar</button>
                    </div>
                </form>
            </div>
            <input type="text" id="shareURL" value="<%= schedule.ShareURL %>" style="display: none">
            <button type="button" id="shareBtn">Share</button>
        </div>
    </section>
</body>
<script>
    document.getElementById('periodStart').valueAsDate = new Date('<%= schedule.StartPeriod %>');
    document.getElementById('periodEnd').valueAsDate = new Date('<%= schedule.EndPeriod %>');
    const shareBtn = document.getElementById('shareBtn');
    const shareURL = document.getElementById('shareURL');

    if('<%= create %>' == 'true')
        alert('나의 일정을 등록하였습니다.');

    shareBtn.addEventListener('click', (event) => {
        shareURL.style.display = 'block'
        shareURL.select();
        document.execCommand("copy");
        shareURL.blur();
        shareURL.style.display = 'none'
        alert('공유 주소가 클립보드에 복사되었습니다.\n보안코드와 함께 공유하세요!');
    });
</script>
<script type="text/javascript" src="/script/detail.js"></script>
</html>