<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style/navigation.css">
    <link rel="stylesheet" type="text/css" href="/style/detail.css">
    <title>Group Scheduler</title>
</head>
<body>
    <header class="nav">
        <div class="nav-title">
            준자혁지
        </div>
        <div class="nav-menu">
            <button type="button" class="menu-button" onclick="location.href='/'">Home</button>
            <button type="button" class="menu-button" onclick="location.href='/create'">Create</button>
        </div>
    </header>
    <section class="detail-wrapper">
        <div id="detail">
            <fieldset>
                <legend>상세 일정</legend>
                <label for="name">작성자이름</label>
                <input type="text" name="name" value="<%= schedule.Creator %>" readonly>
                <label for="title">일정이름</label>
                <input type="text" name="title" value="<%= schedule.Title %>" readonly>
                <label for="periodStart">시작날짜</label>
                <input type="date" name="periodStart" id="periodStart" readonly>
                <label for="periodEnd">마감날짜</label>
                <input type="date" name="periodEnd" id="periodEnd" readonly>
                <label for="comment">설명</label>
                <textarea rows="5" name="comment" readonly><%= schedule.Comment %></textarea>
                <label for="image">첨부자료</label>
                <div name="image">
                    <% let images = schedule.Image %>
                    <% for(let i=0; i<images.length; i++) { %>
                        <img src='/schedule/<%=images[i]%>' id="image">
                    <% } %>
                </div>
            </fieldset>
        </div> 
        <div class="period-wrapper">
            <div class="period">
                <form method="POST" action="/detail" name="Form" onsubmit="return validateForm()">
                    <fieldset>
                        <legend>나의 일정</legend>
                        <label for="name">작성자이름</label>
                        <input type="text" name="name" autocomplete="off">
                        <label for="myStart">시작날짜</label>
                        <input type="date" name="myStart" id="myStart">
                        <label for="myEnd">마감날짜</label>
                        <input type="date" name="myEnd" id="myEnd">
                        <div>
                            <label for="periodFlag">가능한 날짜</label>
                            <input type="radio" name="periodFlag" value="ok" checked="checked">
                        </div>
                        <div>
                            <label for="periodFlag">불가능한 날짜</label>
                            <input type="radio" name="periodFlag" value="no">
                        </div>
                        <input type="text" name="scheduleId" style="display:none;" value="<%=scheduleId%>">
                        <button id="create-submit">확인</button>
                    </fieldset>
                </form>
            </div>
            <div class="period">
                <fieldset>
                    <legend>가능한 일정</legend>
                    <% for(let i=0; i<period.length; i++) { %>
                        <input type="text" value="<%=period[i][0]%> ~ <%=period[i][1]%>">
                    <% } %>
                </fieldset>
            </div>
        </div>
    </section>
</body>
<script>
    document.getElementById('periodStart').valueAsDate = new Date('<%= schedule.StartPeriod %>');
    document.getElementById('periodEnd').valueAsDate = new Date('<%= schedule.EndPeriod %>');
    if('<%= create %>' == 'true')
        alert('나의 일정을 등록하였습니다.');
</script>
<script type="text/javascript" src="/script/detail.js"></script>
</html>